<p>friends:</p>
<form method='post' action="/likes">
  <select name="friend">
    <% friends.each do |friend| %>
      <%= p friend %>
      <option value="<%= friend[1][0] %>">
        <%= friend[1][1] %>
      </option>
    <% end %>
  </select>
  <div><button type="submit">Find common likes</button></div>
</form>